@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
	background-color:rgb(0,128,128);
	  font-family: 'Roboto', sans-serif;
}

#container{
	width: 1000px;
	height: 550px;
	margin: 40px auto;
	
	
}
#calculator{
	width:320px;
	height: 530px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative; 
	border-radius: 5px;  /*Rounds the circles*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Adds a 3D effect*/
	
		
}

#result{
	height: 120px;
	
	
}
 button {
	
	outline: none;
	border: none;
	font-size: 20px;
	font-color: black;
	text-align:center;
}

#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
	
		
}

#output{
	text-align:right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;	
}

#keyboard{
	height: 400
	
}

.number, .empty, .operator{
	width: 50px;
	height: 50px;
	margin: 15px;
	float:left;
	border-radius: 50%;
	
	
}

h1{
	font-size:50px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}

.number, .empty{
	background-color: #eaedef;
	
	
}

.number, .operator{
	cursor: pointer;
	outline: none;
}


button:nth-child(4){
	font-size: 20px;
	background-color: rgb(204,255,204);
	
	
}
button:nth-child(8){
	font-size: 20px;
	background-color: #9477af;
	
}

button:nth-child(12){
	font-szie: 20px;
	background-color:  #f08080;
	
}

button:nth-child(16){
	font-size: 20px;
	background-color: #ffa500;
}


button:nth-child(20){
	font-size: 20px;
	background-color: #20b2aa;
	
}

button:nth-child(1){
	font-size: 20px;
	background-color: rgb(150,150,150);
	
}

button:nth-child(2){
	font-size: 20px;
	background-color: rgb(150,150,150);
	
}

button:nth-child(3){
	font-size: 20px;
	background-color: rgb(255,204,153);
	
}
